
body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
  background-color:white; /* white */
  color: #2f2f2f;
}
.bg-2 { 
  background-color: #ffffff; /* black grey */
  color: #2f2f2f;
}
.bg-3 { 
  background-color:black; /* White */
  color: white;
}
.bg-4 { 
  background-color: white; /* Black Gray */
  color: #2f2f2f;
}
.bg-5 { 
  background-color:  #2f2f2f; /* Black Gray */
  color: white;
}
.container-fluid {
  padding-top: 60px;
  padding-bottom: 60px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: white !important;
}
.fa {
  padding: 10px;
font-size: 30px;
width: 50px;
text-align: right; 
text-decoration: none;
offset-position: 30px ;
}
.fa:hover {
  opacity: 0.9;
}
.fa-linkedin {
background: #007bb5;
color: white;
}